RewriteEngine On

# Redirect Trailing Slashes If Not A Folder...
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} (.+)/$
RewriteRule ^ %1 [L,R=301]


# USER BACKEND API
RewriteRule ^user/me/?$ /user_api/me.php [NC]
RewriteRule ^user/login/?$ /user_api/login.php [NC]
RewriteRule ^user/logout/?$ /user_api/logout.php [NC]
RewriteRule ^user/register/?$ /user_api/register.php [NC]
RewriteRule ^user/confirm-registration/?$ /user_api/confirm-registration.php [NC]
RewriteRule ^user/resend-code/?$ /user_api/resend-code.php [NC]
RewriteRule ^user/update-email/?$ /user_api/update-email.php [NC]
RewriteRule ^user/confirm-update-email/?$ /user_api/confirm-update-email.php [NC]
RewriteRule ^user/forgot-password/?$ /user_api/forgot-password.php [NC]
RewriteRule ^user/reset-password/?$ /user_api/reset-password.php [NC]
RewriteRule ^user/update-password/?$ /user_api/update-password.php [NC]

RewriteRule ^user/submit-mfa/?$ /user_api/submit-mfa.php [NC]
RewriteRule ^user/send-mfa/?$ /user_api/send-mfa.php [NC]
RewriteRule ^user/confirm-mfa/?$ /user_api/confirm-mfa.php [NC]
RewriteRule ^user/update-mfa/?$ /user_api/update-mfa.php [NC]
RewriteRule ^user/update-totp/?$ /user_api/update-totp.php [NC]
RewriteRule ^user/confirm-totp/?$ /user_api/confirm-totp.php [NC]
RewriteRule ^user/name-by-email/?$ /user_api/name-by-email.php [NC]

RewriteRule ^user/create-wallet/?$ /user_api/create-wallet.php [NC]
RewriteRule ^user/get-wallet/?$ /user_api/get-wallet.php [NC]
RewriteRule ^user/get-wallets/?$ /user_api/get-wallets.php [NC]
RewriteRule ^user/revoke-wallet/?$ /user_api/revoke-wallet.php [NC]


# ADMIN BACKEND API
RewriteRule ^admin/create-wallet/?$ /admin_api/create-wallet.php [NC]
RewriteRule ^admin/get-wallet/?$ /admin_api/get-wallet.php [NC]
RewriteRule ^admin/get-wallets/?$ /admin_api/get-wallets.php [NC]
RewriteRule ^admin/revoke-wallet/?$ /admin_api/revoke-wallet.php [NC]

RewriteRule ^admin/get-applications/?$ /admin_api/get-applications.php [NC]

RewriteRule ^admin/get-user/?$ /admin_api/get-user.php [NC]
RewriteRule ^admin/get-users/?$ /admin_api/get-users.php [NC]
RewriteRule ^admin/approve-user/?$ /admin_api/approve-user.php [NC]
RewriteRule ^admin/deny-user/?$ /admin_api/deny-user.php [NC]
RewriteRule ^admin/enable-user/?$ /admin_api/enable-user.php [NC]
RewriteRule ^admin/disable-user/?$ /admin_api/disable-user.php [NC]
RewriteRule ^admin/reset-user-password/?$ /admin_api/reset-user-password.php [NC]
RewriteRule ^admin/update-password/?$ /admin_api/update-password.php [NC]

RewriteRule ^admin/get-admins/?$ /admin_api/get-admins.php [NC]
RewriteRule ^admin/create-admin/?$ /admin_api/create-admin.php [NC]

RewriteRule ^admin/send-mfa/?$ /admin_api/send-mfa.php [NC]
RewriteRule ^admin/confirm-mfa/?$ /admin_api/confirm-mfa.php [NC]
RewriteRule ^admin/update-mfa/?$ /admin_api/update-mfa.php [NC]
RewriteRule ^admin/update-email/?$ /admin_api/update-email.php [NC]
RewriteRule ^admin/confirm-update-email/?$ /admin_api/confirm-update-email.php [NC]


# CRON API
RewriteRule ^cron/schedule/?$ /cron_jobs/schedule.php [NC]
RewriteRule ^cron/garbage/?$ /cron_jobs/garbage.php [NC]
